<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Real State</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body>
    <header>
        <h1>Intelligent Real State</h1>
    </header>
    <div class="container">
        <form id="houseForm" action="/predict" method="post">
            <div class="input-group">
                <label for="area">Superficie (m²):</label>
                <input type="number" id="area" name="area" required>
            </div>

            <div class="input-group">
                <label for="bedrooms">Dormitorios:</label>
                <input type="number" id="bedrooms" name="bedrooms" required>
            </div>

            <div class="input-group">
                <label for="bathrooms">Num_baños:</label>
                <input type="number" id="bathrooms" name="bathrooms" required>
            </div>

            <div class="input-group">
                <label for="year">Año de construcción:</label>
                <input type="number" id="year" name="year" required>
            </div>

            <!-- Primer grupo de botones: Metro y Renfe -->
            <div class="button-group-row">
                <div class="button-group">
                    <label for="metro">Metro:</label>
                    <button type="button" id="metroButton" onclick="toggleButton('metroButton')">No</button>
                    <input type="hidden" id="metro" name="metro" value=0>
                </div>
                <div class="button-group">
                    <label for="renfe">Renfe:</label>
                    <button type="button" id="renfeButton" onclick="toggleButton('renfeButton')">No</button>
                    <input type="hidden" id="renfe" name="renfe" value=0>
                </div>
            </div>
            
            <!-- Segundo grupo de botones: Ascensor y Aire acondicionado -->
            <div class="button-group-row">
                <div class="button-group">
                    <label for="heating">Calefacción:</label>
                    <button type="button" id="heatingButton" onclick="toggleButton('heatingButton')">No</button>
                    <input type="hidden" id="heating" name="heating" value=0>
                </div>
                <div class="button-group">
                    <label for="air_conditioning">Aire acondicionado:</label>
                    <button type="button" id="airConditioningButton" onclick="toggleButton('airConditioningButton')">No</button>
                    <input type="hidden" id="air_conditioning" name="air_conditioning" value=0>
                </div>
            </div>

            <div class="button-group-row">
                <div class="button-group">
                    <label for="elevator">Ascensor:</label>
                    <button type="button" id="elevatorButton" onclick="toggleButton('elevatorButton')">No</button>
                    <input type="hidden" id="elevator" name="elevator" value=0>
                </div>
                <div class="button-group">
                    <label for="garden">Jardín:</label>
                    <button type="button" id="gardenButton" onclick="toggleButton('gardenButton')">No</button>
                    <input type="hidden" id="garden" name="garden" value=0>
                </div>
            </div>

            
            <div class="input-group">
                <label for="property_type">Tipo de inmueble:</label>
                <select id="property_type" name="property_type">
                    <option value="De época">De época</option>
                    <option value="Señorial">Señorial</option>
                    <option value="Popular">Popular</option>
                    <option value="Media">Media</option>
                </select>
            </div>
    
            <div class="input-group">
                <label for="housing_type">Tipo de inmueble:</label>
                <select id="housing_type" name="housing_type">
                    <option value="Piso">piso</option>
                    <option value="Casa">casa</option>
                    <option value="Ático">ático</option>
                </select>
            </div>
            
            <div class="input-group">
                <label for="label">Etiqueta:</label>
                <select id="label" name="label">
                    <option value="En proceso">En proceso</option>
                    <option value="E">E</option>
                    <option value="G">G</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                    <option value="C">C</option>
                    <option value="A+">A+</option>
                    <option value="B">B</option>
                </select>
            </div>
            
            <div class="input-group">
                <label for="district">Distrito:</label>
                <select id="district" name="district">
                    <!-- Las opciones se generarán dinámicamente aquí -->
                </select>
            </div>
            
            <button type="submit">Calcular Precio</button>
        </form>
        <p id="predictionResult"></p>
    </div>

    <footer>
        <p>&copy; 2024 Intelligent Real State</p>
    </footer>

    <script>
        // Función para leer el archivo CSV
        function leerCSV(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    callback(xhr.responseText);
                }
            };
            xhr.open("GET", url, true);
            xhr.send();
        }

        // Función para generar opciones del menú desplegable
        function generarOpciones(distritos) {
            var select = document.getElementById("district");
            distritos.forEach(function(distrito) {
                var option = document.createElement("option");
                option.value = distrito;
                option.textContent = distrito;
                select.appendChild(option);
            });
        }

        // Función para alternar el estado del botón entre "Sí" y "No" y cambiar el valor del campo oculto
        function toggleButton(buttonId) {
            var button = document.getElementById(buttonId);
            var hiddenInput = document.getElementById(buttonId.split("Button")[0]);
            if (button.textContent === "Sí") {
                button.textContent = "No";
                hiddenInput.value = 0; // Establecer el valor como false (booleano)
            } else {
                button.textContent = "Sí";
                hiddenInput.value = 1; // Establecer el valor como true (booleano)
            }
        }

        // Llama a la función para leer el archivo CSV y generar opciones al cargar la página
        leerCSV("../static/DistritosProduccion.csv", function(data) {
            var distritos = data.split("\n");
            generarOpciones(distritos);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
    // Manejar la solicitud del formulario
            $("#houseForm").submit(function(event) {
                // Prevenir el envío del formulario por defecto
                event.preventDefault();
                
                // Obtener los datos del formulario
                var formData = $(this).serialize();
                
                // Realizar una solicitud AJAX al servidor
                $.ajax({
                    type: "POST",
                    url: "/predict",
                    data: formData,
                    success: function(response) {
                        // Verificar si hay un error en la respuesta
                        if ("error" in response) {
                            // Mostrar el popup de error personalizado
                            showCustomPopup(response.error.join("\n"));
                        } else {
                             // Mostrar la predicción en la página
                            $("#predictionResult").text("El precio predicho es: " + response.prediction);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
        });

        // Función para mostrar el popup personalizado
        function showCustomPopup(message) {
            // Crear el elemento de popup
            var popup = $("<div class='popup'></div>");
            
            // Agregar el mensaje al popup
            popup.text(message);
            
            // Agregar el botón de cerrar
            var closeBtn = $("<span class='close-btn'>&times;</span>");
            closeBtn.click(function() {
                // Ocultar el popup al hacer clic en el botón de cerrar
                popup.remove();
            });
            popup.append(closeBtn);
            
            // Agregar el popup al cuerpo del documento
            $("body").append(popup);
        }

    </script>
</body>
</html>
